:root {
    background-color: black;
    background: url("/assets/launguphung_edited.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    --gold: #C6B47B;
    line-height: 2rem
}

#page3d {
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 88vh;
}

.artifact-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-top: 10vh;
    /* padding: 20px; */
    line-height: 2;
}

.redirect-link{
    font-weight: bold; 
    color: var(--gold);
}

.sketchfab-embed-wrapper {
    background: rgba(0, 0, 0, 0.466);
    height: fit-content;
    width: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--gold);
    padding-bottom: 1rem
}

.sketchfab-embed-wrapper iframe{
    border-bottom: 5px solid var(--gold);
    border-radius: 15px 15px 0 0;
}

.sketchfab-embed-wrapper p {
    padding-top: 0.5rem;
    color: white
}

h1 { 
    color: var(--gold);
    padding: 0 15px;
}

.artifact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 15px;
    background: rgba(0, 0, 0, 0.377);
    border: 3px solid #c6b47b59;
    margin-left: 1rem;
    border-radius: 1rem;
    height: max-content;
    width: 60%
}

.artifact-info ul li {
    list-style: none;
    color: white;
    padding: 0 15px;
}

.artifact-info b{
    color: white
}