:root {
    background-color: black;
    background: url("../assets/launguphung_edited.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    --gold: #C6B47B;
    line-height: 2rem
}

#page3d {
    overflow: hidden;
}

.artifact-overview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem auto;
    /* padding: 20px; */
    line-height: 2;
}

.redirect-link {
    font-weight: bold;
    color: var(--gold);
}

.sketchfab-embed-wrapper {
    background: rgba(0, 0, 0, 0.466);
    height: fit-content;
    width: 20rem;
    height: 20rem;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--gold);
    padding-bottom: 1rem
}

.sketchfab-embed-wrapper iframe {
    border-bottom: 5px solid var(--gold);
    border-radius: 15px 15px 0 0;
    width: 20rem;
    height: 20rem;
}

.sketchfab-embed-wrapper p {
    padding-top: 0.5rem;
    color: white
}

h1 {
    color: var(--gold);
    padding: 0 15px;
}

.artifact-info {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 10px;
    background: rgba(0, 0, 0, 0.377);
    border: 3px solid #c6b47b59;
    margin: 1rem auto;
    border-radius: 1rem;
    height: max-content;
}

.artifact-info ul li {
    list-style: none;
    color: white;
    padding: 0 15px;
}

.artifact-info b {
    color: white
}


@media screen and (min-width: 767px) and (max-width:1023px) {
    .sketchfab-embed-wrapper {
        width: 40rem;
        height: 40rem;
    }

    .sketchfab-embed-wrapper iframe {
        width: 40rem;
        height: 40rem;
    }

    .artifact-info {
        width: 40rem;
    }
}


@media screen and (min-width:1024px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 88vh;
    }

    .artifact-overview {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60rem;
        margin-top: 10vh;
    }

    .sketchfab-embed-wrapper {
        width: 30rem;
        height: fit-content;
    }

    .sketchfab-embed-wrapper iframe {
        width: 30rem;
    }

    .artifact-info {
        margin-left: 1rem;
        border-radius: 1rem;
        height: max-content;
        width: 60%
    }
}