:root {
    background-color: black;
}

#page3d {
    overflow: hidden
}

.artifact-overview {
    display: flex;
    flex-direction: row;
    margin: 7rem 15rem;
    padding: 20px;
    line-height: 2;
}

.artifact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.artifact-info ul li {
    list-style: none;
}