/*  #164A41 dark green*/
/*  #4D774E green*/

/*  #9DC88D light green*/
/*  #F1B24A yellow green*/

/*  #FFFFFF white :)*/

/* Artifact content */

:root {
    
    background: url("../assets/launguphung_edited.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    --gold: #C6B47B;
    --dark-gold: #4d452d;
}

body {
    /* background-color: red */
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

#overview {
    /* margin: 5rem 15rem; */
    margin-top: 5rem;
    display: flex; 
    flex-direction: column;
}

main {
    min-height: 80vh
}

.dynasty-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dynasty-desc h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #C6B47B;
    text-align: center;
}

.dynasty-desc p {
    line-height: 2;
    margin: 10px 0;
    width: 80%;
}

.img-container {
    width: 80%;
}

.img-row {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    grid-template-rows: auto;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    column-gap: 7rem;
    row-gap: 3rem;
}

.img-row a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.img-info {
    margin: auto;
    text-align: left;
    width: 20rem;
    height: 20rem;
    background: white;
    transition: ease-in-out 0.3s;
    border-radius:20px;
    border-radius: 0.8rem;
    border: 5px solid var(--gold);
}


.date {
    font-weight: bolder;
}

.img-info img {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    height: 15rem;
    width: 20rem;
    object-fit: cover;
    border-bottom: 5px solid var(--gold);
    transition: ease-in-out 0.3s;
}

.img-info p {
    padding-left: 1rem;
    color: black;
    font-weight: 700;
    line-height: 2rem
}

.img-info:hover {
    background: var(--gold);
    border: 5px solid var(--dark-gold);
}

.img-info:hover img{
    border-bottom: 5px solid var(--dark-gold);
}
