/*  #164A41 dark green*/
/*  #4D774E green*/

/*  #9DC88D light green*/
/*  #F1B24A yellow green*/

/*  #FFFFFF white :)*/

/* Artifact content */

:root {
    background-color: black;
    background: url("../assets/launguphung_edited.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    --gold: #C6B47B
}

#overview {
    margin: 5rem 15rem;
}

main {
    min-height: 100vh
}

.dynasty-desc h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #C6B47B;
    text-align: center;
}

.dynasty-desc p {
    line-height: 2;
    margin: 10px 0;
    font-size: 1.1rem
}

.img-row {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    gap: 3rem
}

.img-row a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.img-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
    border: 2px solid var(--gold);
    background: rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.3s;
    
}

.img-info img {
    width: 50%;
    object-fit: auto;
}

.img-info p {
    padding-left: 2rem;
    font-size: 1.5rem;
    width: 100%;
    color: #f1f1f1
}

.img-info:hover{
    background-color: var(--gold);
}

.img-info:hover > p{
    color: black
}
