/*  #164A41 dark green*/
/*  #4D774E green*/

/*  #9DC88D light green*/
/*  #F1B24A yellow green*/

/*  #FFFFFF white :)*/

/* #C6B47B GOLD */

/* @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  --gold: #c6b47b;
  --secondary: #4d452d
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track  */
::-webkit-scrollbar-track {
  background: rgb(61, 61, 61);
}

/* Handle  */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgba(175, 200, 141, 1);
  /* background: linear-gradient(0deg, rgba(79,73,30,1) 0%, rgba(175,200,141,1) 100%); */
}

/* Handle on hover  */
::-webkit-scrollbar-thumb:hover {
  /* background: linear-gradient(0deg, rgba(79,73,30,1) 0%, rgba(175,200,141,1) 100%); */
  background: rgba(175, 200, 141, 1);
}

body {
  font-size: 1rem;
}

@media screen and (max-width: 767px) {

  /* Header */
  .navbar {
    /* top: 3.5rem; */
    /* position: relative; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    height: 7vh;
    background: var(--gold);
    z-index: 1;
  }

  .fa-2x {
    font-size: 1.5em;
  }

  #search-container {
    display: flex;
    flex-direction: row;
    height: 3rem;
  }

  #search-btn {
    /* border: 1px solid var(--gold); */
    padding: 10px;
    width: 1rem;
    margin: 0;
  }

  input {
    font-size: 1rem;
    outline: none;
    color: var(--gold);
    /* border: 1px solid var(--gold); */
    padding: 0 5px;
    margin: 0;
  }

  .navbar li a {
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    color: black;
    transition: ease-in-out 0.2s;
    font-size: 1.2rem;
  }

  .nav-logo {
    height: 5vh;
    object-fit: cover;
    filter: hue-rotate(180deg) saturate(0) brightness(0);
  }

  .navbar li {
    cursor: pointer;
    font-size: 20px;
  }

  .nav-item {
    display: none;
  }

  #search_artifact {
    width: 60%;
    margin: auto 1rem;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    height: 6vh;
    /* border: 2px solid white */
  }

  ::placeholder {
    color: white
  }

  #search-result {
    position: absolute;
    top: 7vh;
    left: 0;
    right: 0;
    z-index: 2;
    background: var(--gold)
  }

  #search-result a {
    padding: 0
  }

  #search-result p {
    padding: 0.5rem;
    border-bottom: 1px solid black
  }

  #responsive-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    display: flex;
    height: 15vh;
    top: 7vh;
    left: -100vw;

    width: 100vw;
    right: 0;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid black;
    background-color: var(--gold);
    z-index: 0;
    transition: ease-in-out 0.3s;
    transform: translate(0, 0)
  }

  #responsive-menu a {
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: ease-in-out 0.2s;
    font-size: 1.2rem;
    background: var(--gold);
    border-bottom: 2px black solid;
  }

  /* Footer */
  #footer {
    margin-top: auto;
    display: flex;
    bottom: 0;
    z-index: 1;
    text-align: left;
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: left;
    align-items: center;
    border-top: 2px solid var(--gold);
  }

  #footer p {
    padding-left: 0.5rem;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
  body {
    font-size: 1.5rem;
  }

  /* Header */
  #responsive-menu {
    display: none;
  }

  .navbar {
    top: 3.5rem;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 2rem 15rem 0;
    width: 80%;
  }

  .nav-item a {
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    color: var(--gold);
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: ease-in-out 0.2s;
    font-size: 1.4rem;
  }

  .nav-logo {
    height: 5vh;
    object-fit: cover;
    transition: ease-in-out 0.2s;
    padding: 1rem;
  }

  .navbar li {
    cursor: pointer;
    font-size: 20px;
  }

  .navbar li:hover>a {
    border-bottom: 2px solid white;
    /* color: black */
  }

  .nav-logo:hover {
    background: rgba(255, 255, 255, 0.2)
  }

  .menu-icon {
    display: none;
  }

  .icon-style {
    color: var(--gold);
  }

  #search-container {
    display: flex;
    flex-direction: row;
    height: 3.5rem;
  }

  #search_artifact {
    border-bottom: 2px solid transparent;
  }

  #search_artifact:focus {
    border-bottom: 2px solid white;
  }

  #search-btn {
    filter: sepia(77%) saturate(1250%) hue-rotate(323deg) brightness(85%) contrast(80%);
    padding: 10px;
    width: 3.5rem;
    margin: 0;
    cursor: pointer
  }

  #search-result {
    display: absolute;
    width: 400px;
    text-decoration: none;
    list-style: none
  }

  #search-result p {
    background: var(--gold);
    padding: 0.2rem 1rem;
    list-style: none;
    transition: ease-in 0.1s;
  }

  #search-result:first-child {
    border-radius: 1rem 1rem 0 0;
  }

  #search-result:last-child {
    border-radius: 0 0 1rem 1rem;
  }

  #search-result p:hover {
    background: var(--secondary);
    list-style: none;
    text-decoration: none;
  }

  input {
    font-size: 1.4rem;
    outline: none;
    color: var(--gold);
    padding: 0 5px;
    margin: 0;
  }

  /* Footer */
  #footer {
    margin-top: auto;
    display: flex;
    bottom: 0;
    z-index: 1;
    text-align: left;
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: left;
    align-items: center;
    border-top: 2px solid var(--gold);
  }

  #footer p {
    padding-left: 0.5rem;
    font-size: 1.3rem;
  }
}


@media screen and (min-width: 1024px) {

  /* Header */
  #responsive-menu {
    display: none;
  }

  .navbar {
    top: 3.5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding-left: 6rem;
    width: 80%;
    height: 7vh;
  }

  .nav-item a {
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    color: var(--gold);
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: ease-in-out 0.2s;
    font-size: 1.4rem;
  }


  .nav-logo {
    height: 7vh;
    object-fit: cover;
    transition: ease-in-out 0.2s;
    padding: 1rem;

  }

  .navbar li {
    cursor: pointer;
    font-size: 20px;
  }

  .navbar li:hover>a {
    border-bottom: 2px solid white;
    /* color: black */
  }

  .nav-logo:hover {
    background: rgba(255, 255, 255, 0.2)
  }

  .menu-icon {
    display: none;
  }

  .icon-style {
    color: var(--gold);
  }

  #search-container {
    display: flex;
    flex-direction: row;
    height: 3.5rem;
  }

  #search_artifact {
    border-bottom: 2px solid transparent;
    width: min(12rem, 50%);
  }

  #search_artifact:focus {
    border-bottom: 2px solid white;
  }

  #search-btn {
    filter: sepia(77%) saturate(1250%) hue-rotate(323deg) brightness(85%) contrast(80%);
    padding: 10px;
    width: 3.5rem;
    margin: 0;
    cursor: pointer
  }

  #search-btn svg{
    width: 50px;
  }

  #search-result {
    display: absolute;
    width: 400px;
    text-decoration: none;
    list-style: none
  }

  #search-result p {
    background: var(--gold);
    padding: 0.2rem 1rem;
    list-style: none;
    transition: ease-in 0.1s;
  }

  #search-result:first-child {
    border-radius: 1rem 1rem 0 0;
  }

  #search-result:last-child {
    border-radius: 0 0 1rem 1rem;
  }

  #search-result p:hover {
    background: var(--secondary);
    list-style: none;
    text-decoration: none;
  }

  input {
    font-size: 1.4rem;
    outline: none;
    color: var(--gold);
    padding: 0 5px;
    margin: 0;
  }

  /* Footer */
  #footer {
    margin-top: auto;
    display: flex;
    bottom: 0;
    z-index: 1;
    text-align: left;
    height: 5vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: left;
    align-items: center;
    border-top: 2px solid var(--gold);
  }

  #footer p {
    padding-left: 0.5rem;
    font-size: 0.8rem;
  }
}