/*  #164A41 */
/*  #4D774E */

/*  #9DC88D */
/*  #F1B24A */

/*  #FFFFFF */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

/* width  */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track  */
::-webkit-scrollbar-track {
    background: rgb(61, 61, 61);
}

/* Handle  */
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(120, 0, 246, 1) 0%, rgba(255, 0, 193, 1) 100%);
}

/* Handle on hover  */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, rgb(150, 52, 255) 0%, rgb(255, 67, 208) 100%);
}

/* Header */
header {
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-around;
    padding: 10px;
}

.navbar li {
    list-style: none;
}

/* Homepage content */



/* Footer */
footer {
    bottom: 0;
}